body {
  background-color: #24282f;
}

.Characters {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Search {
  margin-top: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
}
